.tile {
  -fx-background-color: rgba(189, 89, 89, 0.7);
  -fx-border-color: rgba(0, 0, 0, 0.4);
}

.tile-active {
  -fx-cursor: hand;
}

.tile-active:hover {
  -fx-scale-x: 1.05;
  -fx-scale-y: 1.05;
}

.tile-taken {
  -fx-cursor: disappear;
}

.tile-image-p1 {
  /* image should be dynamic */
  -fx-background-image: url('../resources/avatars/Chun-Li.jpg');
  /* image should be dynamic */
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-border-color: black;
  -fx-border-width: 1.5;
}

.tile-image-p2 {
  /* image should be dynamic */
  -fx-background-image: url('../resources/avatars/Ryu.jpg');
  /* image should be dynamic */
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-border-color: black;
  -fx-border-width: 1.5;
}
